.button{
    
    background: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    padding: 20px;
    border-bottom: blue;
    
}
#formTablero{
    text-align: center;    
}



